@use './mixins/mixins.scss' as *;
[class^="#{$namespace}-icon"], [class*="#{$namespace}-icon"] {
  display: inline-block;
  font-size: inherit;
  font-style: normal;
}

.#{$namespace}-icon-loading {
  animation: loadingCircle 2s infinite linear;
}
@keyframes loadingCircle {
  100%{transform: rotate(360deg);}
}
