@use './mixins/mixins.scss' as *;

@font-face {
  font-family: "yyds-ui-icons"; /* Project id 3874343 */
  src: url('./fonts/iconfont.woff2') format('woff2'),
       url('./fonts/iconfont.woff') format('woff'),
       url('./fonts/iconfont.ttf') format('truetype');
}

[class^="#{$namespace}-icon"], [class*="#{$namespace}-icon"] {
  font-family: "yyds-ui-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-huiseguanbi:before {
  content: "\e607";
}

.#{$namespace}-icon-heiseguanbi:before {
  content: "\e608";
}

.#{$namespace}-icon-heiseshang:before {
  content: "\e609";
}

.#{$namespace}-icon-heisexia:before {
  content: "\e60a";
}

.#{$namespace}-icon-heiseyou:before {
  content: "\e60b";
}

.#{$namespace}-icon-heisezuo:before {
  content: "\e60c";
}

.#{$namespace}-icon-huiseshang:before {
  content: "\e60d";
}

.#{$namespace}-icon-huisexia:before {
  content: "\e60e";
}

.#{$namespace}-icon-huiseyou:before {
  content: "\e60f";
}

.#{$namespace}-icon-huisezuo:before {
  content: "\e610";
}

.#{$namespace}-icon-huisesousuo:before {
  content: "\e611";
}

.#{$namespace}-icon-heisesousuo:before {
  content: "\e612";
}

.#{$namespace}-icon-guanji:before {
  content: "\e613";
}

.#{$namespace}-icon-lanseguanbi:before {
  content: "\e614";
}

.#{$namespace}-icon-lansesousuo:before {
  content: "\e615";
}

.#{$namespace}-icon-lansezuo:before {
  content: "\e616";
}

.#{$namespace}-icon-lanseyou:before {
  content: "\e617";
}

.#{$namespace}-icon-lanseshang:before {
  content: "\e618";
}

.#{$namespace}-icon-lansexia:before {
  content: "\e619";
}

.#{$namespace}-icon-xiaoxi:before {
  content: "\e61a";
}

